# Variables para Docker Compose
# Copia este archivo a .env y configura tus valores

DJANGO_PORT=8864
DJANGO_WSGI_MODULE=stepup_config.wsgi:application

# Database para Docker
DB_NAME=PIE_ED
DB_USER=root
DB_PASSWORD=root
DB_HOST=db
DB_PORT=3306
